<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.databaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\database.mdb"
            providerName="System.Data.OleDb" />
        <add name="project.Properties.Settings.databaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\project\project\Database\database.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>